/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
body, #navigation_box a, h1, .btn-primary, .inputbox, input.button2, .cmty-post-textarea, .cmty-subject-input, .cmty-items-input.ui-autocomplete-input, div.cmty-item-tag, button.btn.btn-run, button.btn.btn-reset, button.btn.btn-link.btn-pop, div.cmty-topic-cell-post, div.cmty-topic-cell-subtitle, span.cmty-color-main.cmty-topic-cell-username, div.cmty-topic-cell-subject, div.cmty-topic-watchers, div.cmty-topic-cell-left-bottom, div.cmty-topic-cell-source, div.cmty-topic-cell-second-row, select, input#login-username.form-control, input#login-password.form-control, button#login-cancel-button.btn, div.cmty-topic-subject, input.cmty-submit-button.btn.btn-primary, textarea, div.cmty-topic-mini-reply, input{
font-family: 'Work Sans', sans-serif;
}

/* navigation box!!!! */
#navigation_box *{
font-size: 0px !important;
}
#navigation_box a{
font-size: 16px !important;
padding: 10px;
line-height: 13.5px;
transition: 0.5s;
color: white;
text-transform: lowercase;
}
#navigation_box a:hover{
background: white !important;
box-shadow: 0px 0px 5px lightgray;
color: black;
}
#navigation_box{
line-height: 35px;
height: 35.5px;
background: lightblue;
top: -5px;
border: none;
}
#left_navigation_box a:last-child, #right_navigation_box a:first-child{
background: #c6e4ee;
}
#left_navigation_box a:last-child:hover, #right_navigation_box a:first-child:hover{
background: white !important;
box-shadow: 0px 0px 5px lightgray;
}
div#left_navigation_box{
padding-left: 20px;
}
div#right_navigation_box{
padding-right: 20px;
}

/* background */
#page-wrapper, body.community.feed-fullscreen.fullscreen.full-reply{
background: url(https://artofproblemsolving.com/assets/images/top/pattern-online-gray.png) !important;
}

/* widget titles */
div.widget-title{
text-transform: uppercase;
letter-spacing: 1px;
word-spacing: 2px;
}

/* entry borders */
div.entrywrap{
background: none;
border: dashed 3px lightgray;
transition: 0.5s;
}
div.entrywrap:hover{
border-color: #97bfcc;
}
div.entry{
border: none;
}

/* dimensions and stuff */
#main{
width: calc(100% - 258px);
padding: 10px;
}
#wrapper{
width: 80%;
}
div#header h1{
height: 110px;
margin-top: 20px;
overflow: hidden;
}

/* flyout */
div#flyout, div.aops-modal-frame.aops-modal-standard{
border-color: lightblue;
}

/* search widget bug fix */
#search-widget > div{
background: transparent;
}

/* feed tab */
.feed-tab{
opacity: 0.8;
transition: 0.5s;
box-shadow: 0px 0px 10px lightblue;
}
.feed-tab:hover{
opacity: 1;
}

/* mobile kids!! */
@media all and (max-width:600px){
#left_navigation_box, #right_navigation_box{ 
float: none;
text-align: center;
}
#left_navigation_box{
margin-bottom: 11.5px;
}
#navigation_box a{
letter-spacing: 1px;
font-size: 14px;
transition: 0.75s;
}
#navigation_box a:hover{
color: lightblue !important;
background: white !important;
box-shadow: 0px 0px 5px lightgray;
font-size: 16px;
text-shadow: none;
}
#navigation_box{
height: 69px;
}
#main{
width: calc(100% - 258px);
padding: 10px;
background: white;
}
#side{
width: 258px;
}
#wrapper{
width: 100%;
}
div#header h1{
height: 80px;
margin-top: 50px;
}
}
