@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work%20Sans&display=swap');
body, #navigation_box a, h1, .btn-primary, .inputbox, input.button2, .cmty-post-textarea, .cmty-subject-input, .cmty-items-input.ui-autocomplete-input, div.cmty-item-tag, button.btn.btn-run, button.btn.btn-reset, button.btn.btn-link.btn-pop, div.cmty-topic-cell-post, div.cmty-topic-cell-subtitle, span.cmty-color-main.cmty-topic-cell-username, div.cmty-topic-cell-subject, div.cmty-topic-watchers, div.cmty-topic-cell-left-bottom, div.cmty-topic-cell-source, div.cmty-topic-cell-second-row, select, input#login-username.form-control, input#login-password.form-control, button#login-cancel-button.btn, div.cmty-topic-subject, input.cmty-submit-button.btn.btn-primary, textarea, div.cmty-topic-mini-reply, input{
font-family: 'Overpass', sans-serif;
word-spacing: 1.6px;
letter-spacing: 0.4px;
}
div.entrywrap{
border-top: solid 10px #85b8c7;
border-style: solid none none none;
box-shadow: 0px 10px 10px #85b8c7;
background: #e9e9ed;
border-radius: 5px;
transition: 0.5s;
}
div.entrywrap:hover{
border-radius: 0px;
box-shadow: 0px 10px 10px #76a3b0;
}
div.entry{
border: none;
}
div.entry h1{
text-align: center;
margin-top: 10px;
font-weight: bold;
}
h2{
visibility: hidden;
text-align: center;
margin-left: 110px;
}
h2 a, h2 strong:before{
visibility: visible;
}
h2 strong:before{
content: 'by ';
font-weight: normal;
}
h2 img{
display: none;
}
#page-wrapper, body.community.feed-fullscreen.fullscreen.full-reply{
background: url(https://mario.wiki.gallery/images/5/55/SMO_Snow_Brochure_Art.png) !important;
}
#wrapper{
opacity: 0.9;
}
#navigation_box{
background: lightblue;
border: none;
text-transform: lowercase;
}
div#header h1{
font-family: 'Work Sans', sans-serif;
font-weight: bold;
font-size: 36px;
text-decoration: none;
color: white;
background: #e9e9ed;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
transition: 0.5s;
}
div#header h1:hover{
background: lightblue;
}
div#feed-tabs{
box-shadow: none;
}
.feed-tab{
opacity: 0.8;
transition: 0.5s;
border-radius: 50%;
box-shadow: 0px 0px 10px lightblue;
}
.feed-tab:hover{
opacity: 1;
}
#search-widget > div{ 
background: transparent;
}
