
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
body, #navigation_box a, h1, .btn-primary, .inputbox, input.button2, .cmty-post-textarea, .cmty-subject-input, .cmty-items-input.ui-autocomplete-input, div.cmty-item-tag, button.btn.btn-run, button.btn.btn-reset, button.btn.btn-link.btn-pop, div.cmty-topic-cell-post, div.cmty-topic-cell-subtitle, span.cmty-color-main.cmty-topic-cell-username, div.cmty-topic-cell-subject, div.cmty-topic-watchers, div.cmty-topic-cell-left-bottom, div.cmty-topic-cell-source, div.cmty-topic-cell-second-row, select, input#login-username.form-control, input#login-password.form-control, button#login-cancel-button.btn, div.cmty-topic-subject, input.cmty-submit-button.btn.btn-primary, textarea, div.cmty-topic-mini-reply, input{
font-family: 'Overpass', sans-serif;
}
:root{
text-transform: lowercase;
}
span[style^="font-family: 'AoPS'"]{
text-transform: none !important;
}
/*text-transform: lowercase;
letter-spacing: 1.5px;
word-spacing: 3px;
color: white !important;
text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 55px white, 0 0 75px white !important;
}
#page-wrapper{
background: url(http://nosimpleway.brontoforum.us/letsplay/deltarune/u2_0014.png);
}
#wrapper, #header, #side, #main{
background: none;
border: none;
}
img.latex, img.latexcenter{
color: white !important;
}
div#feed-wrapper img.latex, div#feed-wrapper img.latexcenter{
filter: invert(100%);
}
div#feed-tabs, div.cmty-topics-list, div.cmty-post-wrapper, div.cmty-topic-mini-reply, div.cmty-topic-full-top, div#feed-wrapper div.aops-scroll-bar, div#feed-wrapper div.cmty-posting-environ{
filter: invert(100%);
color: black !important;
}
div#feed-tabs img, div.cmty-topics-list img, div.cmty-post-wrapper img, div.cmty-topic-mini-reply img, div.cmty-topic-full-top img, div#feed-wrapper div.aops-scroll-bar img, div#feed-wrapper div.cmty-posting-environ img{
filter: invert(100%);
}
:root span[style^="font-family:'AoPS"]{
font-family: AoPS !important;
text-transform: none !important;
}
#navigation_box{
position: absolute;
left: 0;
top: -20px;
height: 45px;
background-color: #ddd;
line-height: 37px;
font-size: 14px;
border: none;
}
#navigation_box a{
color: #606060;
}
div#navigation_box a{
line-height: 43px;
padding-top: 5px;
}
div#left_navigation_box a:last-child{
background-color: #eee;
background-size: 35px 35px;
}*/
div.blog-no-topics{
visibility: hidden;
}
div.blog-no-topics:before{
visibility: visible;
white-space: pre-wrap;
content: "i hate my life \A\A why am i still using this site \A\A to osmium: looks like you'll have to find another replacement, which is sad because i was pretty excited to join another mafia game smh \A\A to everyone else: i got postbanned because i said the following to some dude that posted that one pirated mathcounts page (if you know you know): \A\A 'why do people keep referencing websites that are illegal on these types of threads smh\A buy it u loser' \A\A lol this is the third time i've been postbanned within a week of getting unpostbanned from the last month-long postban \A\A i can't do this anymore \A\A i should probably take a break until i can figure out how to not post this garbage but i'm too darn lazy \A\A anyways now for my contest scores if you didn't see them: \A\A amc 8 // 17 -> 20 (11111 11101 11111 11111 10000) honor roll \A\A amc 10a // 43.5 -> 112.5 (11111 11111 11110 1BB1B BB1BB) distinction (honor roll), achievement roll \A\A amc 10b // 67.5 -> 96 (11111 10001 111B1 11B1B BBBBB) achievement roll \A\A aime i // dnf -> 6 (11111 00100 00000) \A\A mathcounts chapter // dnf -> 44 (30/7) 5th out of 192 \A\A mathcounts chapter invitational // 38 (26/6) -> 36 (26/5) 5th out of 47 \A\A mathcounts state // 27 (17/5) -> ??? \A\A i suck at mathcounts but fluked amc 10a, we don't talk about 10b \A\A anyways check out my new overleaf template kekw https://www.overleaf.com/read/yppbdjycphkb i might start actually writing stuff that's interesting with latex instead of doing this weird blogging but whatever \A\A anyways take this as a warning that if you get postbanned once, that postban basically counts as a warning so good luck not getting postbanned aside from just ignoring main forums if ur like me \A\A here are the contents of my sheriff pm btw \A\A 'Based on your recent posts and our warnings to you in the past about your behavior, we have now placed restrictions on your account. When you speak to others in a way that is disrespectful, we will delete the posts and implement restrictions. Please take this time during your postban to reflect on your behavior. \A\A AoPSSheriff' \A\A i might get postbanned more for writing this but i honestly believe that i will get postbanned independently anyways because that seems to be the trend that is happening \A\A i know i sound like a broken record by now & nobody actually cares when i get postbanned anymore since it's such a common occurence but whatever.. on second thought i shouldn't really be that toxic to sheriffs since they r just doing their job but imma do it anyways \A\A yes im crying over not being able to post on a math website... why does this not alarm me anymore \A\A anyways good luck on your mathematical endeavors as i try to figure out what to do for a month everybody \A\A pog";
}
div#search-widget, div#archive-widget{
display: none !important;
}
div#stats-widget, div#about-owner-widget, div#archive-widget, h2, #navigation_box a, div.actions, div.modactions, #post-new-entry, div.cmty-poll-select-no-results, div.cmty-poll-helper-text, div.cmty-topic-reply, a.blog-post-comment, div.cmty-no-results-found, span.blog-num-comments, div.cmty-poll-build, select, div.cmty-posting-submenu.cmty-posting-submenu-extras, div.cmty-heading-text, span.cmty-post-in, div.blog-no-topics{
text-transform: lowercase;
}
