@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

div.entry h2 img, div.comment h2 img, .cfooter .author img, #post-new-entry-p img, .cmty-post-edited .cmty-post-edit-info{
display: none;
} 

div.entrywrap, div.message, div.entry, div.commentwrap, #header, #navigation_box, body{ 
background-color: white;
}

body{
background-image: url(https://i.ibb.co/zr1Nm54/pexels-nikki-swart-1701412.jpg);
}

#navigation_box{
box-shadow: 0px 0px 1px 2px black;
}

div.entrywrap{
border-color: lightgray;
}

body, .btn-primary, div#header h1, #navigation_box a, .inputbox, input.button2, div.cmty-posting-environ, textarea.cmty-post-textarea, .cmty-subject-input{
font-family: Overpass, sans-serif !important;
letter-spacing: 0.8px; 
word-spacing: 1.6px; 
}

#main{
width: calc(100% - 258px);
}

#wrapper{
width: 80%;
transition: 2s;
opacity: 0.8;
}

#wrapper:hover{
box-shadow: 0px 0px 20px lightgray;
opacity: 1;
}

img:not(.latex){
border-radius: 10px;
}

#navigation_box a{
color: black;
}

div#feed-tabs{
box-shadow: 0px 0px 10px gray;
transition: 0.5s;
}

div#feed-tabs:hover{
box-shadow: 0px 0px 20px gray;
}

.feed-tab{
opacity: 0.8;
transition: 0.5s;
}

.feed-tab:hover{
opacity: 1;
}

.btn-primary{
transition: 0.5s;
border-radius: 5px;
background-color: transparent !important;
color: white !important;
}

.cmty-bbcode-bold,.cmty-bbcode-underline,.cmty-bbcode-italic,.cmty-bbcode-text-size,.cmty-bbcode-quote,.cmty-bbcode-hide,.cmty-bbcode-code,.cmty-bbcode-smiley,.cmty-bbcode-img,.cmty-bbcode-url,.cmty-bbcode-attachment,.cmty-bbcode-text-color,.cmty-bbcode-font-color-swatch,.cmty-bbcode-poll{
transition: 1s !important;
}

.cmty-bbcode-bold:hover,.cmty-bbcode-underline:hover,.cmty-bbcode-italic:hover,.cmty-bbcode-text-size:hover,.cmty-bbcode-quote:hover,.cmty-bbcode-hide:hover,.cmty-bbcode-code:hover,.cmty-bbcode-smiley:hover,.cmty-bbcode-img:hover,.cmty-bbcode-url:hover,.cmty-bbcode-attachment:hover,.cmty-bbcode-text-color:hover,.cmty-bbcode-font-color-swatch:hover,.cmty-bbcode-poll:hover{
border-radius: 10px !important;
}

div.cmty-posting-submenu{
border: none !important;
}

#search-widget>div{
background-color: transparent;
}

#search-widget fieldset>*{
display: inline;
border: none;
}

.entry{
border: none !important;
}
