div .entrywrap{
background-color: #fffdef;
border-color: #fcfae8;
border: 0px;  
}

#search-widget {
display: none;
}

#shouts-widget {
background-color: #fffdef;
}

#side{
background-color: #fffdef;
}

#header h1 {
color: #fffdef;
font-family: Roboto;
font-size: 100px;
text-align: center;
height: 120px;
margin-top: 20px;
margin-bottom: 10px;
}

#header {
background: url(https://wiki-images.artofproblemsolving.com//c/c5/ECED611B-C8F1-42B9-95CD-D13E2EA9880F.jpeg);
font-family: 'Roboto', sans-serif;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

div#header { background-color: #ffffff; font-family: "Roboto", Times, serif; } 
div.message { background-color: #ffffff; } 
div.entrywrap { background-color: #ffffff; } 
div.commentwrap { background-color: #ffffff; } 

body { 
background-image: url(https://wiki-images.artofproblemsolving.com//c/ce/Desert2.jpeg);
font-family: "Roboto", sans-serif; 
font-size: 14px; 
letter-spacing: 0.8px; 
word-spacing: 1.6px; 
color: #000000; 
background-color: #ffffff;
opacity: 0.88;
}

html{ 
cursor: url(http://dl7.glitter-graphics.net/pub/517/517117grkpbyjcvm.gif), auto; 
}
.inputbox{
background-color: #bdd9e7;
}

/* guestblocker by an impossible cube */
.blog-login{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #fffdef !important;
    z-index: 1000000 !important;
    color: transparent !important;
}
.blog-login:hover{
    cursor: default !important;
}
/* Adds AoPS loading gif */
.blog-login::before{
    content: url('http://www.artofproblemsolving.com/assets/images/logo-ludicrous.gif') !important;
    position: absolute !important;
    left: calc(50vw - 25px) !important;
    top: calc(50vh - 25px) !important;
}

.blog-login::after{
    position: absolute !important;
    content: "you can't even see this part, so what's the point?" !important;
    color: white !important;
    font-size: 12px !important;
    font-weight: bold !important;
font-family: "Roboto", sans-serif; !important;
    left: calc(50vw - 65px) !important;
    top: calc(50vh - 60px) !important;
}

h2{
display: none;
}

